/* Error underlines */
.cm-error-underline {
  text-decoration: underline wavy #f00;
}

.cm-bosque-func {
  color: #0033b3 !important;
  font-weight: bold !important;
}

.cm-bosque-field {
  color: #0033b3 !important;
  font-weight: bold !important;
}

.cm-bosque-anon {
  color: #ff4500 !important;
  font-weight: bold !important;
}

.cm-bosque-annotation {
  color: #800080 !important;
  font-weight: bold !important;
}

.cm-bosque-methodcall {
  color: #8b0000 !important;
  font-weight: bold !important;
}

.cm-bosque-instance {
  color: #2f4f4f !important;
  font-weight: bold !important;
}

.cm-bosque-varname {
  color: #8b4513 !important;
  font-weight: bold !important;
}

.cm-bosque-ctrlkw {
  color: #9c27b0 !important;
  font-weight: bold !important;
}

.cm-bosque-keyword {
  color: #0033b3 !important;
  font-weight: bold !important;
}

.cm-bosque-typename {
  color: #008b8b !important;
  font-weight: bold !important;
}

.cm-bosque-comment {
  color: #6a737d !important;
  font-style: italic !important;
}

.cm-bosque-string {
  color: #a31515 !important;
}

.cm-bosque-number {
  color: #098658 !important;
}

.cm-bosque-atom {
  color: #0033b3 !important;
  font-weight: bold !important;
}

.cm-bosque-operator {
  color: #000 !important;
  font-weight: bold !important;
}

.cm-bosque-typedecl {
  color: #4682b4 !important;
  font-weight: bold !important;
}

.cm-bosque-special {
  color: #d2691e !important;
  font-weight: bold !important;
}

.cm-bosque-invariant {
  color: #2e8b57 !important;
  font-weight: bold !important;
}

.cm-bosque-validation {
  color: #8a2be2 !important;
  font-weight: bold !important;
}
